<div class="card-pet">
	<img class="pet-profile-img" src="{{this.imageUrl}}" alt="puppy">
	<div class="text-layer">
		<span>asdf</span>
	</div>
	<div class="pet-info">
		<h1>Name: {{this.petName}}</h1>
		<h1>Category: {{this.petCategory}}</h1>
		<h1>Gender: {{this.petGender}}</h1>
		<h1>City: {{this.city}}</h1>
		{{#if isOwner}}
		<button href="/pet/{{pet._id}}/edit">Edit</button>
		{{/if}}
	</div>
	<div>
		{{#if this.isFavorite}}
		<form method="post" action="/pet/{{this._id}}/unfavorite">
			<button class="like" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="crimson">
					<path fill-rule="evenodd"
						d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
						clip-rule="evenodd" />
				</svg>
			</button>
		</form>
		{{else}}
		<form method="post" action="/pet/{{this._id}}/favorite">
			<button class="like" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="grey">
					<path fill-rule="evenodd"
						d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
						clip-rule="evenodd" />
				</svg>
			</button>
		</form>
		{{/if}}
	</div>
</div>