<div class="card-pet">
	<div class="pet-info">
		<h1>Name: {{this.petName}}</h1>
		<h1>Category: {{this.petCategory}}</h1>
		<h1>Gender: {{this.petGender}}</h1>
		<h1>Color: {{this.petColor}}</h1>
		<h1>Address: {{this.address}}</h1>
		<h1>City: {{this.city}}</h1>
		{{#if isOwner}}
		<button href="/pet/{{pet._id}}/edit">Edit</button>
		{{/if}}
	</div>
</div>