{{pet.petCategory}}
{{pet.petGender}}
{{pet.petName}}
{{pet.petColor}}
{{pet.petAge}}
{{pet.address}}
{{pet.city}}
<img src="{{pet.imageUrl}}" alt="ggwp">
{{#if isOwner}}
<button href="/pet/{{pet._id}}/edit">Edit</button>
{{/if}}
{{> nav}}