<div class="profile-container">
	<div class="userInfo">
		<img class="user-profile-img" src="{{userObject.imageUrl}}" alt="">
		<h1>@{{userObject.username}}</h1>
		<h1>Name: {{userObject.name}}</h1>
		<a href="/user/{{userObject._id}}/userEdit">Edit User</a>
	</div>
	<div class="user-pets-section">
		<p>My Pets</p>
		<div class="user-pets">
			{{#each userObject.userPets}}
			<a href="/pet/{{this._id}}">
				{{> myPet}}
			</a>
			{{/each}}
		</div>
	</div>
	<button><a href="/pet/pet-create">Add Pet</a></button>
	<form action="logout" id="logout-form" method="POST">
		<button>Logout</button>
	</form>
</div>
{{> nav}}